#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


/* .date_title, .list {
  border: 1px solid rgb(255, 255, 255);
} */

.list li {
list-style-type: none;
}

.label_fecha {
  margin: 20px 0;
}

body {
  /* background-color: black; */
  background-image: url('https://images.unsplash.com/photo-1462332420958-a05d1e002413?q=80&w=2107&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
}


.card_title {
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.22);
  /* position:relative; */
  margin:20px auto;
}

.img_nasa {
  /* background:#fff; */
  /* padding:15px;
  border-radius:6px; */
  box-shadow: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.22);
  /* position:relative; */
  /* margin:20px auto; */
}

